/* Root Variables */
:root {
  --primary-color: #4D0ED1;
  --secondary-color: #EEF80D;
}

/* Fonts (Ubuntu and Shadows Into Light */
/* font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu&display=swap');

/* Global stylings */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.dark-theme {
  background-color: black;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 3rem;
}

.align-center {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.secondary-color {
  color: var(--secondary-color);
  font-weight: 600;
}

a {
  color: var(--secondary-color)
}